<!DOCTYPE html>
<html>
<head>
    <% include _head %>
</head>
<body>
    <div class="wrap transition am-container" id="Wrap">
        <% include _nav %>
        <section class="list-config am-g">
            <div class="am-u-sm-11 am-u-md-8 am-u-sm-centered no-authorized">
                <h1>无权限</h1>
            </div>
        </section>
    </div>
</body>
</html>