<footer data-am-widget="footer" class="am-footer am-footer-default am-topbar-fixed-bottom" data-am-footer="{  }">
	<div class="am-footer-miscs ">
	      <p>由 <a href="http://xiaoj.me" title="莫小君" target="_blank" class="">莫小君</a>
	        提供技术支持</p>
	        <p>CopyRight©2017  junmo Inc.</p>
	</div>
</footer>