



<header class="am-topbar">
  <div class="am-u-sm-11 am-u-md-8 am-u-sm-centered">
    <h1 class="am-topbar-brand">
      <a href="/">NSA</a>
    </h1>

    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#doc-topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

    <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
      <ul class="am-nav am-nav-pills am-topbar-nav">
        <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
        <li class="main_ul"><a href="/">首页</a></li>
        <li class="sites"><a href="/sites">站点列表</a></li>
        <li class="user_manage"><a href="/user_manage">用户管理</a></li>
        <li class="hot_word"><a href="/hot_word">热点关键词管理</a></li>
        <li class="analysis"><a href="/analysis">数据分析</a></li>
      </ul>
      <div class="am-topbar-right">
        <div class="am-dropdown" data-am-dropdown="{boundary: '.am-topbar'}">
          <button class="am-btn am-btn-secondary am-topbar-btn am-btn-sm am-dropdown-toggle" data-am-dropdown-toggle><%=username%> <span class="am-icon-caret-down"></span></button>
          <ul class="am-dropdown-content">
            <li><a href="/logout">退出</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
