<!DOCTYPE html>

<html>
<head>
    <% include _head %>
</head>
<body>
	<div class="wrap transition" id="Wrap">
        <% include _nav %>
        <section class="am-g list-config">
            <div class="am-u-sm-11 am-u-md-8 am-u-sm-centered">
                <% include _breadcrumb %>
                <article data-am-widget="paragraph" class="am-paragraph am-paragraph-default"
                data-am-paragraph="{ tableScrollable: true, pureview: true }">
                  <p><%= content.content %></p>
			    </article>
            </div>
        </section>
</div>
</body>
</html>